<div class="feature_search collapse navbar-collapse d-md-none" id="re-search">
    <div class="container" style="padding: 0px 10px 0px 10px">
        <form method="post" action="{% url 'giasu:listcourse' %}">
            {% csrf_token %}
            <div class="input-group-addon has-search" style="padding: 0">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="search" class="form-control" name="search_course"
                       placeholder="Nhập tên khóa học cần tìm">
            </div>

            <select class="form-control" name="select_cate">
                <option selected>Chọn danh mục khóa học</option>
                {% for cate in categories %}
                    <option>{{ cate.cate_name }}</option>
                {% endfor %}
            </select>
            <div class="text-center form-control btn-group" style="padding: 0">
                <button class="btn btn-success btn-re-search" type="submit">Tìm</button>
                <div class="btn btn-danger btn-re-close" style="cursor: pointer">Đóng</div>
            </div>
        </form>
    </div>
</div>


