<div class="news">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        <h2 class="section_title">Tin tức giáo dục</h2>
{#                        <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec#}
{#                            vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis#}
{#                            sem</p></div>#}
                    </div>
                </div>
            </div>
            <div class="row news_row">
                <div class="col-lg-7 news_col">
                    <!-- News Post Large -->
                    <div class="news_post_large_container">
                        <div class="news_post_large">
                            <div class="news_post_image" style="background-image: url({{ cateFirst.image }})">
                                <img src="{{ cateFirst.image }}" alt="{{ cateFirst.title }}"></div>
                            <div class="news_post_large_title"><a
                                    href="{% url 'giasu:news_single' cateFirst.link %}">{{ cateFirst.title }}</a>
                            </div>
                            <div class="news_post_meta">
                                <ul>
                                    <li><a href="#">Theo báo vietnamnet.vn</a></li>
                                    <li><a href="#">{{ cateFirst.pubDate }}</a></li>
                                </ul>
                            </div>
                            <div class="news_post_text">{{ cateFirst.description|safe }}</div>
                            <div><a href="{% url 'giasu:news_single' cateFirst.link %}"
                                    class="btn btn-info">Đọc thêm ...</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 news_col">
                    <div class="news_posts_small">
                        {% for catenew in cateNews %}
                            <!-- News Posts Small -->
                            <div class="news_post_small">
                                <div class="news_post_small_title">
                                    <a href="{% url 'giasu:news_single' catenew.link %}">{{ catenew.title }}</a></div>
                                {#                                <div class="news_post_meta">#}
                                {#                                    <ul>#}
                                {#                                        <li><a href="#">admin</a></li>#}
                                {#                                        <li><a href="#">november 11, 2017</a></li>#}
                                {#                                    </ul>#}
                                {#                                </div>#}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>