{% load static %}
<div class="team" id="team">
    <div class="team_background parallax-window" data-parallax="scroll"
         data-image-src="{% static 'images/team_background.jpg' %}"
         data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Danh sách gia sư tiêu biểu</h2>
                </div>
            </div>
        </div>
        <div class="row team_row">

            <!-- Team Item -->
            {% for teacher in teachers %}
                <div class="col-lg-3 col-md-6 team_col">
                    <div class="team_item">
                        <div class="team_image"><img src="{{ teacher.image.url }}" alt=""></div>
                        <div class="team_body">
                            <div class="team_title"><a href="{% url 'giasu:profile' teacher.user.id %}">{{ teacher.gender }}. {{ teacher.user.first_name }} {{ teacher.user.last_name }}</a></div>
                            <div class="team_subtitle">{{ teacher.major }}</div>
                            <div class="social_list">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>