<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3&appId=1129441983814452&autoLogAppEvents=1"></script>
<div class="fb-share-button" data-href="http://localhost:8000/courses/" data-layout="button_count" data-size="small"><a
        target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8000%2Fcourses%2F&amp;src=sdkpreparse"
        class="fb-xfbml-parse-ignore">Chia sẻ</a></div>