{% extends 'giasu/base.html' %}
{% load static %}
{% load general_tag %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/addcourse.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/addcourse_responsive.css' %}">

{% endblock %}
{% block title %}
    {{ header }}
{% endblock %}
{% block home %}

    <!-- Home -->

    <div class="home">
        <div class="breadcrumbs_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="{% url 'giasu:index' %}">Home</a></li>
                                <li><a href="{% url 'giasu:listcourse' %}">Group</a></li>
                                <li>{{ header }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact">
        <!-- Contact Info -->
        <div class="contact_info_container">
            <div class="container">
                <div class="contact_form card">
                    <div class="card-header contact_info_title">{{ header }}</div>
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger error">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form class="comment_form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-group">
                                <label class="form_title"
                                       for="{{ group.name.id_for_label }}"> Nhóm học sinh</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-users icon" style="color: orangered"></i>
                                    </span>
                                    </div>
                                    {{ group.name }}
                                </div>
                                {% if group.name.errors %}
                                    <ol>
                                        {% for error in group.name.errors %}
                                            <li><strong class="text-danger">{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ol>
                                {% endif %}
                            </div>
                            {{ custom_group }}
                            <div class="form_title"><i class="far fa-calendar-plus"></i> Thêm lịch học</div>


                            <div class="card-footer">
                                <button class="btn btn-danger" type="submit">Submit</button>
                                <div class="btn btn-outline-danger" style="cursor: pointer"
                                     onClick="javascript:history.go(-1);">Cancel
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

{% endblock %}
{% block javascript %}
    <script>
        $("#id_course_name").on('keypress keydown keyup', function () {
            var course_name = $(this).val();
            $.ajax({
                url: '{% url 'giasu:validate_course_name' %}',
                data: {
                    'course_name': course_name
                },
                dataType: 'json',
                success: function (data) {
                    if (data.is_course) {
                        $("#error").addClass("alert alert-danger");
                        $("#error").text(data.error_message);
                    }
                    else {
                        $("#error").removeClass("alert alert-danger");
                        $("#error").text("");
                    }
                }

            });
        });
    </script>
{% endblock %}

