<div class="sidebar_section" style="height: 350px; max-width: 100%">
    <div class="sidebar_section_facebook">Theo dõi</div>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=1129441983814452&autoLogAppEvents=1"></script>
    <div class="fb-page" data-href="https://web.facebook.com/giasuhongtrang/" data-tabs="timeline" data-height="300"
         data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://web.facebook.com/giasuhongtrang/" class="fb-xfbml-parse-ignore"><a
                href="https://web.facebook.com/giasuhongtrang/">Gia Sư Hồng Trang</a></blockquote>
    </div>
</div>