{% load course_tag %}
<div id="teaching-{{ course_id }}" class="collapse" data-parent="#teaching">
    <div class="card-body" style="padding: 1px 0px 1px 0px">
        {% for group in groups %}
            <div class="activity-link-sub-group d-flex align-items-center">
{#                <div class="mr-auto activity-link-conntent">{{ group.group.name }}#}
{#                    <span class="badge badge-warning">{{ group.count_member }}</span>#}
{#                </div>#}
                {% detail-group group path %}
                <a href="{% url 'giasu:delete-group' group.group.id %}?next={{ path }}"
                   data-key="{{ group.group.name }}"
                   data-expand="{{ coursename }}"
                   class="pr-2 btn-delete-group"
                   data-toggle="modal"
                   data-target="#deletegroup"><i class="far fa-trash-alt"></i>
                </a>
                <a href="{% url 'giasu:manager-group-course' group.id %}?next={{ path }}"
                   class="pr-2" data-toggle="tooltip" data-placement="bottom" title="Edit group">
                    <i class="far fa-edit text-warning"></i>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="deletegroup">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header model-delete">
                <h4 class="modal-title title-authen-delete">Delete
                    <Strong id="group-delete"></Strong>-<Strong id="course-of-group-delete"></Strong></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body body-authen-delete">
                Bạn có chắc muốn xóa <Strong id="group-delete"></Strong> ra khỏi khóa học
                <Strong id="course-of-group-delete"></Strong> không?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="" id="link-delete-group" class="btn btn-danger">Delete</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- end Modal delete -->