{% load static %}
<div class="modal fade" id="registry_Course" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Đăng ký khóa học</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="padding: 0">
                <div class="counter">
                    <div class="counter_background"
                         style="background-image:url({% static 'images/register_course.jpg' %})"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="counter_content">
                                    <h2 class="counter_title">Gia sư Hồng Trang</h2>
                                    <div class="counter_text"><p>Simply dummy text of the printing and typesetting
                                        industry. Lorem
                                        Ipsum has been the industry’s standard dumy text ever since the 1500s, when
                                        an unknown
                                        printer took a galley of type and scrambled it to make a type specimen
                                        book.</p></div>

                                    <!-- Milestones -->

                                    <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

                                        <!-- Milestone -->
                                        <div class="milestone">
                                            <div class="milestone_counter" data-end-value="15">0</div>
                                            <div class="milestone_text">years</div>
                                        </div>

                                        <!-- Milestone -->
                                        <div class="milestone">
                                            <div class="milestone_counter" data-end-value="120" data-sign-after="k">
                                                0
                                            </div>
                                            <div class="milestone_text">years</div>
                                        </div>

                                        <!-- Milestone -->
                                        <div class="milestone">
                                            <div class="milestone_counter" data-end-value="670" data-sign-after="+">
                                                0
                                            </div>
                                            <div class="milestone_text">years</div>
                                        </div>

                                        <!-- Milestone -->
                                        <div class="milestone">
                                            <div class="milestone_counter" data-end-value="320">0</div>
                                            <div class="milestone_text">years</div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="counter_form card">
                            <div class="counter_form_title">Đăng ký khóa học</div>
                            <div class="row card-body">
                                <div class="col">
                                    <form class="counter_form_content d-flex flex-column align-items-center justify-content-center"
                                          action="{% url 'giasu:add_register_course_temp' %}" method="post">
                                        {% csrf_token %}
                                        <input type="text" class="counter_input" name="name_register"
                                               placeholder="Nhập họ tên người đăng ký"
                                               required="required">
                                        <input type="tel" class="counter_input" placeholder="Nhập số điện thoại"
                                               id="phone" name="phone_register"
                                               required="required">
                                        <div class="phone-msg alert-danger d-none"
                                             style="width: 100%; margin-bottom: 10px">
                                            Vui lòng nhập số điện thoại hợp lệ
                                        </div>
                                        <select required name="course_register" id="course_register"
                                                class="counter_input counter_options">
                                            <option value="">Chọn khóa học đăng ký</option>
                                            {% for course in courses %}
                                                <option value="{{ course.course_name }}">{{ course.course_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <textarea class="counter_input counter_text_input" placeholder="Nhập tin nhắn"
                                                  required name="msg_register"></textarea>
                                        <button type="submit" class="form-control btn btn-danger"
                                                style="color: white">
                                            Đăng ký
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
