<!-- The Modal -->
<div class="modal" id="change-password">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Change password</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form method="post" class="modal-body">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="New password" id="passord1">
                </div>
                <div>
                    <p style="font-size: 12px; color: #0b58a2; margin-bottom: 15px; font-style: italic">
                        Your password can't be too similar to your other personal information.
                        Your password must contain at least 8 characters.
                        Your password can't be a commonly used password.
                        Your password can't be entirely numeric.
                    </p>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Confirm password" id="password2">
                </div>

            </form>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="change-password-button">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
