<div class="sidebar_section">
    <div class="question-hot-title"><i class="fab fa-hotjar"></i> Câu hỏi nóng</div>
    <div class="question-list">
        <ul>
            <li><a href="#">Tại sao nước biển lại xanh? </a></li>
            <li><a href="#">Tại sao một năm có 365 ngày, một ngày có 24 giờ</a></li>
            <li><a href="#">Câu hỏi 1 </a></li>
            <li><a href="#">Câu hỏi 1 </a></li>
            <li><a href="#">Câu hỏi 1 </a></li>
        </ul>
    </div>
</div>